<%= form_with(model: person, local: true) do |form| %>
  <% if person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% person.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group row">
    <%= form.label :name, class: "text-sm-right col-sm-4 col-form-label" %>
    <div class="col-sm-8">
      <%= form.text_field :name, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group position-relative row">
    <%= form.label :born_at, class: "text-sm-right col-sm-4 col-form-label" %>
    <div class="col-sm-8">
      <%= form.date_field :born_at, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group position-relative row">
    <%= form.label :dead_at, class: "text-sm-right col-sm-4 col-form-label" %>
    <div class="col-sm-8">
      <%= form.date_field :dead_at, class: 'col-sm-8 form-control' %>
    </div>
  </div>

  <div data-controller="nested-form">
    <h2 class="text-sm-right">Jobs</h2>

    <%= form.fields_for :jobs, person.jobs do |ff| %>
      <div data-target="nested-form.object">
        <div class="form-group row">
          <label class="text-sm-right col-sm-4 col-form-label">Name</label>
          <div class="col-sm-8">
            <%= ff.text_field :name, class: 'form-control' %>
          </div>

          <%= ff.label :started_at, class: "text-sm-right col-sm-4 col-form-label" %>
          <div class="col-sm-8">
            <%= ff.date_field :started_at, class: 'form-control' %>
          </div>

          <%= ff.label :ended_at, class: "text-sm-right col-sm-4 col-form-label" %>
          <div class="col-sm-8">
            <%= ff.date_field :ended_at, class: 'form-control' %>
          </div>

          <div class="col-sm-12 align-self-center text-sm-right pt-1">
            <button type="button" class="btn btn-link text-danger" data-action="nested-form#remove" data-original-title="Remove" data-toggle="tooltip">
              <%= ff.label :_destroy, class: 'mb-0' do %>
                <%= ff.check_box :_destroy, class: 'd-none' %>
                <i class="fas fa-trash"></i> Remove
              <% end %>
            </button>
          </div>
        </div>
      </div>
    <% end %>

    <div class="form-group text-sm-right">
      <button type="button" class="btn btn-primary btn-sm" data-action="nested-form#add">
        <i class="fal fa-plus-circle"></i> Add new Job
      </button>
    </div>
  </div>


  <div class="text-center">
    <%= form.submit class: "btn btn-primary btn-lg" %>
  </div>
<% end %>
