<table class="table">
  <thead>
    <tr>
      <% if can? :manage, Person %>
        <th>#</th>
      <% end %>
      <th></th>
      <th>Last job</th>
      <th>Sources</th>
      <th>Claims</th>
      <th>Involvements</th>
      <% if can? :manage, Person %>
        <th></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% people.each do |person| %>
      <tr>
        <% if can? :manage, Person %>
          <td><%= link_to person.id, person %></td>
        <% end %>
        <td><%= link_to person_name_and_dates(person), person %></td>
        <td><%= job_name_and_dates person.jobs.current_or_last %></td>
        <td><%= person.sources.count %></td>
        <td><%= person.claims.count %></td>
        <td><%= person.involvements.count %></td>
        <% if can? :manage, Person %>
          <td>
            <%= link_to 'E', edit_person_path(person) %>
            <%= link_to 'D', person, method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
