<div class="container">
  <div class="row text-center my-4">
    <div class="col-4">
      <h2><%= link_to 'Persone', people_path, class: 'btn btn-primary btn-lg' %></h2>
    </div>
    <div class="col-4">
      <h2><%= link_to 'Affermazioni', claims_path, class: 'btn btn-primary btn-lg' %></h2>
    </div>
    <div class="col-4">
      <h2><%= link_to 'Fonti', sources_path, class: 'btn btn-primary btn-lg' %></h2>
    </div>
  </div>

  <h1><%= person_name_and_dates @person %></h1>

  <h2>Occupazioni</h2>
  <%= render 'jobs/table', jobs: @person.jobs %>

  <h2>Fonti di cui è autore</h2>
  <%= render 'sources/table', sources: @person.sources %>

  <h2>Affermazioni fatte</h2>
  <%= render 'claims/table', claims: @person.claims %>

  <h2>Affermazioni che lo coinvolgono</h2>
  <%= render 'involvements/table', involvements: @person.involvements %>

  <% if can? :manage, Person %>
    <%= link_to 'Edit', edit_person_path(@person) %><br/>
  <% end %>
</div>
