<%= form_with model: claim, local: true, data: { controller: 'form' } do |form| %>
  <% if claim.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(claim.errors.count, "error") %> prohibited this claim from being saved:</h2>

      <ul>
      <% claim.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group row">
    <%= form.label :title, class: "text-sm-right col-sm-4 col-form-label" %>
    <div class="col-sm-8">
      <%= form.text_field :title, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :body, class: "text-sm-right col-sm-4 col-form-label" %>
    <div class="col-sm-8">
      <%= form.text_area :body, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :person_id, 'Claimed by', class: "text-sm-right col-sm-4 col-form-label" %>
    <div class="col-sm-8">
      <%= form.select :person_id, Person.all.pluck(:name, :id), {}, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group position-relative row">
    <%= form.label :claimed_at, class: "text-sm-right col-sm-4 col-form-label" %>
    <div class="col-sm-8">
      <%= form.date_field :claimed_at, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group position-relative row">
    <%= form.label :happened_at, class: "text-sm-right col-sm-4 col-form-label" %>
    <div class="col-sm-8">
      <%= form.date_field :happened_at, class: 'form-control' %>
    </div>
  </div>

  <div data-controller="nested-form">
    <h2 class="text-sm-right">Involvements</h2>
    <%= form.fields_for :involvements, claim.involvements do |ff| %>
      <div data-target="nested-form.object">
        <div class="form-group row">
          <label class="text-sm-right col-sm-4 col-form-label">Person</label>
          <div class="col-sm-6">
            <%= ff.select :person_id, Person.all.pluck(:name, :id), {}, class: 'form-control' %>
          </div>

          <div class="col-sm-2 align-self-center text-sm-right">
            <button type="button" class="btn btn-link text-danger" data-action="nested-form#remove" data-original-title="Remove" data-toggle="tooltip">
              <%= ff.label :_destroy, class: 'mb-0' do %>
                <%= ff.check_box :_destroy, class: 'd-none' %>
                <i class="fas fa-trash"></i> Remove
              <% end %>
            </button>
          </div>
        </div>
      </div>
    <% end %>

    <div class="form-group text-sm-right">
      <button type="button" class="btn btn-primary btn-sm" data-action="nested-form#add">
        <i class="fal fa-plus-circle"></i> Add new involvment
      </button>
    </div>
  </div>

  <div data-controller="nested-form">
    <h2 class="text-sm-right">Yes Evidences</h2>
    <%= form.fields_for :yes_evidences, claim.yes_evidences do |ff| %>
      <div data-target="nested-form.object">
        <div class="form-group row">
          <label class="text-sm-right col-sm-4 col-form-label">Source</label>
          <div class="col-sm-6">
            <%= ff.select :source_id, Source.all.pluck(:title, :id), {}, class: 'form-control' %>
          </div>

          <div class="col-sm-2 align-self-center text-sm-right">
            <button type="button" class="btn btn-link text-danger" data-action="nested-form#remove" data-original-title="Remove" data-toggle="tooltip">
              <%= ff.label :_destroy, class: 'mb-0' do %>
                <%= ff.check_box :_destroy, class: 'd-none' %>
                <i class="fas fa-trash"></i> Remove
              <% end %>
            </button>
          </div>
        </div>
      </div>
    <% end %>

    <div class="form-group text-sm-right">
      <button type="button" class="btn btn-primary btn-sm" data-action="nested-form#add">
        <i class="fal fa-plus-circle"></i> Add new yes evidence
      </button>
    </div>
  </div>

  <div data-controller="nested-form">
    <h2 class="text-sm-right">Nope Evidences</h2>
    <%= form.fields_for :nop_evidences, claim.nop_evidences do |ff| %>
      <div data-target="nested-form.object">
        <div class="form-group row">
          <label class="text-sm-right col-sm-4 col-form-label">Source</label>
          <div class="col-sm-6">
            <%= ff.select :source_id, Source.all.pluck(:title, :id), {}, class: 'form-control' %>
          </div>

          <div class="col-sm-2 align-self-center text-sm-right">
            <button type="button" class="btn btn-link text-danger" data-action="nested-form#remove" data-original-title="Remove" data-toggle="tooltip">
              <%= ff.label :_destroy, class: 'mb-0' do %>
                <%= ff.check_box :_destroy, class: 'd-none' %>
                <i class="fas fa-trash"></i> Remove
              <% end %>
            </button>
          </div>
        </div>
      </div>
    <% end %>

    <div class="form-group text-sm-right">
      <button type="button" class="btn btn-primary btn-sm" data-action="nested-form#add">
        <i class="fal fa-plus-circle"></i> Add new nope evidence
      </button>
    </div>
  </div>

  <div class="text-center">
    <%= form.submit class: 'btn btn-primary btn-lg' %>
  </div>
<% end %>
