<%= form_with(model: yes_evidence, local: true) do |form| %>
  <% if yes_evidence.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(yes_evidence.errors.count, "error") %> prohibited this yes_evidence from being saved:</h2>

      <ul>
      <% yes_evidence.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :claim_id %>
    <%= form.select :claim_id, Claim.all.pluck(:title, :id) %>
  </div>

  <div class="field">
    <%= form.label :source_id %>
    <%= form.select :source_id, Source.all.pluck(:title, :id) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
