<p id="notice"><%= notice %></p>

<h1>Nop Evidences</h1>

<table>
  <thead>
    <tr>
      <th>Claim</th>
      <th>Source</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @nop_evidences.each do |nop_evidence| %>
      <tr>
        <td><%= link_to nop_evidence.claim.title, nop_evidence.claim %></td>
        <td><%= link_to nop_evidence.source.title, nop_evidence.source %></td>
        <td><%= link_to 'Show', nop_evidence %></td>
        <td><%= link_to 'Edit', edit_nop_evidence_path(nop_evidence) %></td>
        <td><%= link_to 'Destroy', nop_evidence, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Nop Evidence', new_nop_evidence_path %>
