<footer class="footer flex-shrink-0">
  <div class="row">
    <div class="col-sm-3">
      <address>
        <strong><%= Settings.name %></strong>
        <br/>
        Something Inc.
        <br/>
        5th Avenue
        <br/>
        34S-35A New York
      </address>
    </div>
    <div class="col-sm-3">
      <ul class="list-unstyled">
        <li><%= link_to "Products", '#' %></li>
        <li><%= link_to "Brands", '#' %></li>
        <li><%= link_to "Most sold", '#' %></li>
        <li><%= link_to "Latest additions", '#' %></li>
      </ul>
    </div>
    <div class="col-sm-3">
      <ul class="list-unstyled">
        <li><%= link_to "About", '#' %></li>
        <li><%= link_to "Services", '#' %></li>
        <li><%= link_to "For customers", '#' %></li>
        <li><%= link_to "For sellers", '#' %></li>
      </ul>
    </div>
    <div class="col-sm-3">
      <ul class="list-unstyled">
        <li><%= link_to "FAQ", '#' %></li>
        <li><%= link_to "Contacts", '#' %></li>
        <li class="social">
          <%= link_to '#' do %>
            <i class="fab fa-fw fa-2x fa-facebook", target: '_blank'></i>
          <% end %>
          <%= link_to '#' do %>
            <i class="fab fa-fw fa-2x fa-twitter", target: '_blank'></i>
          <% end %>
          <%= link_to '#' do %>
            <i class="fab fa-fw fa-2x fa-instagram", target: '_blank'></i>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</footer>
